<footer>
    <div class="footer-container">
        <div class="social-links">
            <a class="social-link" href="https://www.linkedin.com/in/johnatilley/" target="_blank">
                <i class="fa-brands fa-square-linkdin fa-2xl mr-2"></i>
            </a>
        </div>
    </div>
</footer>