<footer>
    <div class="footer-container">
        <div class="social-links">
            <p class="text-white">&copy; John Tilley 2023</p>
            <a class="social-link" href="https://www.linkedin.com/in/johnatilley/" target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
            </a>
            <a class="social-link" href="https://github.com/johnatilley" target="_blank">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
        </div>
    </div>
</footer>