<footer>
    <div class="footer-container">
        <div class="social-links">
            <a href="/cookies" class="text-white hover:text-spanish-orange mr-auto">Cookie policy</a>
            <p class="text-white mb-0">&copy; John Tilley 2023</p>
            <a class="social-link" href="https://www.linkedin.com/in/johnatilley/" target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
            </a>
            <a class="social-link" href="https://github.com/johnatilley" target="_blank">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
        </div>
    </div>
</footer>