<header class="header" id="js-header">
    <div class="header-container">
        <a class="header-logo" href="/">
            <img class="header-logo-1" src="/images/logo/logo-1.png" alt="John Tilley" />
            <img class="header-logo-2" src="/images/logo/logo-2.png" />
        </a>

        {% include "navigation.njk" %}
    </div>
</header>
<div class="header-spacer"></div>