<div class="grid lg:grid-cols-3 gap-8">
    <div class="panel mb-0 text-center">
        <div class="flex justify-center gap-8">
            <img src="/images/services/11ty-logo.png" alt="11ty Websites" class="w-16 mb-8">
            <img src="/images/services/wordpress-logo.png" alt="11ty Websites" class="w-16 mb-8">
        </div>
        <h3>Brochure website</h3>
        <p>For businesses looking to establish or improve a basic online presence. A simple website to showcase your best work and help you attract new customers.</p>
        <p>The two options I suggest are a Static website or a Wordpress website. Both of these options use fast, secure, and easy to maintain technologies.</p>
        <a class="button" href="/services/brochure-website">Find out more</a>
    </div>
    <div class="panel mb-0 text-center">
        <div class="flex justify-center gap-8">
            <img src="/images/services/prestashop-logo.png" alt="11ty Websites" class="w-16 mb-8">
            <img src="/images/services/woocommerce-logo.png" alt="11ty Websites" class="w-16 mb-8">
        </div>
        <h3>Online e-commerce shop</h3>
        <p>For businesses looking to sell products online. I can help you set up an online shop that's easy to manage and secure for your customers.</p>
        <p>There are many options for setting up an online shop. The technologies I recomend the most are Prestashop, or WooCommerce for Wordpress.</p>
        <a class="button" href="/services/ecommerce-website">Find out more</a>
    </div>
    <div class="panel mb-0 text-center">
        <div class="flex justify-center gap-8">
            <img src="/images/services/laravel-logo.png" alt="11ty Websites" class="w-16 mb-8">
            <img src="/images/services/nodejs-logo.png" alt="11ty Websites" class="w-16 mb-8">
            <img src="/images/services/react-logo.png" alt="11ty Websites" class="w-16 mb-8">
        </div>
        <h3>Bespoke Software</h3>
        <p>For businesses looking for a bespoke software solution I can help you create a custom website that is tailored to your requirements.</p>
        <p>Whether you need a dating website or some custom internal tools for your operations team there's no limit to the size of the project I can help you with. </p>
        <a class="button" href="/services/bespoke-software">Find out more</a>
    </div>
</div>