.hamburger {
    box-shadow: none;
    margin-right: -15px;
    padding: 15px;
    cursor: pointer;

    @include breakpoint(lg) {
        display: none;
    }

    .hamburger-box {
        width: 24px;
        height: 15px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 1.5px;
        margin-top: -1.5px;

        &,
        &:before,
        &:after {
            width: 24px;
            height: 3px;
            background-color: $color-dark-gray;
            border-radius: 0;
            position: absolute;
            transition-property: transform, top;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }

        &:before,
        &:after {
            content: "";
            display: block;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
            width: 12px;
            margin-left: 12px;
        }
    }

    &.is-active {
        .hamburger-inner {
            transform: translate3d(0, 0, 0) rotate(30deg);
            top: 6px;

            &:before {
                transform: translate3d(0, -6px, 0) rotate(-60deg);
            }

            &:after {
                opacity: 0;
            }
        }
    }
}