<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>John Tilley Website Development</title>

        <meta name="author" content="John Tilley" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Rakkas">
        <link rel="stylesheet" type="text/css" media="all" href="{{ '/css/app.css' | url }}" />
        <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen" />
    </head>
    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        <div class="wrapper" id="wrapper">
            <div class="site-bg" id="site-bg"></div>
            <div class="site-container">
                {% include "header.njk" %}

                <main>
                    <div class="main-container">
                        {{ content | safe }}
                    </div>
                </main>

                {% include "footer.njk" %}
            </div>
        </div>
        <script type="text/javascript" src="{{ '/js/app.js' | url }}" defer></script>
        <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
    </body>
</html>