/* -------------------------------------------------------------- */
/* JT Form */
/* -------------------------------------------------------------- */
.jt-form-wrapper {
    .jt-form-inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        text-align: left;

        .jt-form-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 12px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-family: Arial, Helvetica, sans-serif;
        }

        textarea {
            width: 100%;
            padding: 12px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.jt-form__submit {
    .loading {
        display: none;
    }

    &.loading {
        .text {
            display: none;
        }
        .loading {
            display: block;
        }
    }
}

.jt-form__success-message {
    text-align: center;
    font-weight: 700;
    color: $color-green-700;
    letter-spacing: 1px;
    font-size: 1.25rem;
    display: none;
}