$parallaxMovement: 0.015;

.hero-panel {
    position: relative;
    overflow: hidden;
    color: $color-white;
    padding: 2rem;
    --xDistance: 0px;
    --yDistance: 0px;

    @include breakpoint(md) {
        padding: 4rem;
    }

    .hero-panel-background {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - (var(--xDistance) * $parallaxMovement)), calc(-50% - (var(--yDistance) * $parallaxMovement)));
        width: auto;
        height: 110%;
        max-width: none;

        @include breakpoint(lg) {
            width: 110%;
            height: auto;
        }
    }

    .hero-panel-content {
        position: relative;
        z-index: 2;

        p {
            text-shadow: 0px 1px 4px rgb(0 0 0 / 0.6);
        }

        .hero-image {
            filter: drop-shadow(0px 1px 4px rgb(0 0 0 / 0.4));
        }
    }
}