html,
body {
    height: 100%;
}

/* -------------------------------------------------------------- */
/* INDEX */
/* -------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    position: relative;
}

.site-bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}

.site-container {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-spacer {
    width: 100%;
    height: $header-height;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-grow: 0;
    z-index: 20;
    background-color: $color-charcoal;
    color: $color-spanish-orange;

    .header-container {
        @apply container px-4;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $header-height;
        transition: all 0.3s $motion-standard;
        justify-content: space-between;
    }

    .header-logo {
        font-size: 3rem;
        font-family: $font-rakkas;
        margin-left: 0;
        position: relative;
        width: 180px;
        display: block;
        overflow: hidden;
        transition: width 0.3s $motion-standard, margin-left 0.3s $motion-standard 0.1s;

        .header-logo-1 {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .header-logo-2 {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(0%);
            transition: all 0.3s $motion-enter 0.1s;
        }
    }

    &.header-scrolled {
        .header-container {
            height: $header-height-alt;
            transition: all 0.3s $motion-standard 0.1s;
        }

        .header-logo {
            width: 90px;
            transition: width 0.3s $motion-standard 0.1s;

            @include breakpoint(md) {
                margin-left: 0;
            }

            .header-logo-2 {
                transform: translateX(-100%);
                transition: all 0.3s $motion-exit;
            }
        }
    }
}

// MAIN
main {
    flex-grow: 1;

    .main-container {
        @apply container px-4;
        margin: 0 auto;
        padding-block: 2rem;
    }
}


// FOOTER
footer {
    margin-top: auto;
    background-color: $color-stone-900;

    .footer-container {
        @apply container px-4;
        margin: 0 auto;
        padding: 2rem;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        @include breakpoint(md) {
            justify-content: flex-end;
        }

        .social-link {
            font-size: 2rem;
            color: $color-white;

            &:hover {
                color: $color-spanish-orange;
                transition: all 0.3s $motion-standard;
                transform: translateY(-2px);
            }
        }
    }
}

// PORTFOLIO

.portfolio-link {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25% 0 0;
    transition: all 0.3s $motion-exit;

    &:hover {
        transform: scale(1.01) translateY(-3px);
        transition: all 0.3s $motion-enter;
    }
}

.contact-link {
    transition: all 0.3s $motion-exit;
    margin: 0;
    background-color: $color-spanish-orange;
    color: $color-white;

    &:hover {
        transform: scale(1.01) translateY(-3px);
        transition: all 0.3s $motion-enter;
    }
}