---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Anne Semonin
    parent: Portfolio
    order: 1
    image: /images/portfolio/logo/anne-semonin-logo.png

portfolio:
    image: /images/portfolio/jtfwd-logo.png
    title: Anne Semonin
    client: Matta SAS
    website: www.annesemonin.com
    framework: Magento with internationalisation
    developer: John Tilley Freelance Web Development
    description:
        -   The Anne Semonin Website was inherited from the Digital Agency I used to work for. The system had a few hangovers from its launch version that meant the first couple of tasks was to complete Russian Translations, fix some features and correct some of the settings such as shipping. A lot can be achieved simply by listening carefully to what the client is requesting, taking the care to implement it correctly and delivering more value than the expectation.
        -   After the corrections were made we moved on to some of the larger tasks. The Russian side of the website needed a payment gateway for a bank completely foreign to me and we had this up and running within a month. The templates for the system needed some tidying up and now the Website boasts a beautiful collapsing fixed header with presentation consistent across the three languages (English, French and Russian)
    features:
        -   title: Fixed header
            image: /images/portfolio/anne-semonin-1.png
            description:
                -   Creating a fixed header for this website was a fun puzzle to solve. The Header had to retain it’s dropdown-menu functionality, header links and all of this had to work well across multiple languages which cause much of the text to split onto separate, all whilst having a flexible responsive design that works on different screen sizes!
---

{% include "portfolio.njk" %}