---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Osprey Packs
    parent: Portfolio
    order: 2
---

<div class="panel">
    <h1>Portfolio</h1>
    <p>Here's a list of my work</p>
</div>
