---
layout: "base.njk"
title: "John Tilley | Career"
bodyClass: home
description: John Tilley Web Development Career

eleventyNavigation:
    key: Career
    order: 4
---

<div class="panel">
    <h1>Career</h1>
    <p>Here's a background of my working career</p>
    <ul class="list-disc list-inside">
        <li>April Six</li>
        <li>Estee Lauder</li>
        <li>Freelance</li>
        <li>Folk Digital</li>
        <li>OnTop Web Design</li>
        <li>Eurosoft</li>
        <li>AJT Computing</li>
    </ul>
</div>