---
layout: "base.njk"
title: "John Tilley | Contact"
bodyClass: home
description: John Tilley Web Development Career

eleventyNavigation:
    key: Contact
    order: 3
---

<div class="panel jt-form-wrapper">
    <form action="/" class="jt-contact-form" id="contactForm" method="post">
        <div class="jt-form-inner">
            <div>
                <h1>Contact John Tilley</h1>
                {% include "breadcrumbs.njk" %}
                <p>Let's talk about your next project! Please send me a message using the form below</p>
            </div>

            <input type="text" id="name" name="name" placeholder="Your name" required />
            <input type="email" id="email" name="email" placeholder="Your email" required />
            <input type="text" id="company" name="company" placeholder="Your company name (optional)" />
            <input type="text" id="phone" name="phone" placeholder="Your phone number (optional)" />
            <textarea id="message" name="message" placeholder="Your message (optional)"></textarea>

            <button type="submit" class="jt-form__submit">
                <span class="text">Send</span><span class="loading"><i class="fas fa-cog fa-spin"></i></span>
            </button>
            <p class="jt-form__success-message">Thank you for your message. I'll be in touch soon!</p>
        </div>
    </form>
</div>