---
layout: "base.njk"
title: "John Tilley Web Development"
bodyClass: home
description: John Tilley Web Development
---
<div class="panel">
    <h2>Cookie policy</h2>
    <p>There are no cookies being used on this website. It's true. You can have a look for yourself.</p>
</div>