---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Portfolio
    order: 3
---

<div class="panel">
    <h1>Portfolio</h1>
    <p>Some of the work I have done in the past</p>
</div>

<div class="panel">
    <pre>
    {% set navPages = collections.all | eleventyNavigation("Portfolio") %}
    {{ navPages | dump(2) | safe }}
    </pre>
</div>