---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Portfolio
    order: 2
---

<div class="panel">
    <h1>Portfolio</h1>
    <p>Some of the work I have done in the past</p>
</div>

{% set navPages = collections.all | eleventyNavigation("Portfolio") %}

<div class="grid md:grid-cols-2 gap-4 md:gap-8">
    {% for navPage in navPages %}
        <a href="{{ navPage.url }}" class="panel mb-0 portfolio-link" style="background-image: url({{ navPage.image }}); background-size: cover"></a>
    {% endfor %}
</div>