---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Static brochure website
    parent: Services
    order: 1
---

<div class="grid md:grid-cols-2 gap-4 md:gap-8">
    <div class="panel md:col-span-2 mb-0">
        <h1>Brochure website</h1>
        {% include "breadcrumbs.njk" %}
        <p>For businesses looking to establish or improve a basic online presence. A simple website to showcase your best work and help you attract new customers.</p>
        <p>The two options I suggest are a Static website or a Wordpress website. Both of these options use fast, secure, and easy to maintain technologies.</p>
        <p>A static website is a great option for businesses that want to keep costs down and have a simple website that's easy to maintain. You can enhance the website further with third party applications, for example adding links to Fresha for a booking system.</p>
        <p>A Wordpress website allows you to do more by allowing you to add and edit content yourself. This is a great option for businesses that want to update their website regularly. Wordpress websites can also be extended with custom plugins and can be upgraded to include an online e-commerce shop.</p>
    </div>
    <div class="panel mb-0 text-center">
        <img src="/images/services/11ty-logo.png" alt="11ty Websites" class="w-32 mx-auto mb-8">
        <h2>Static website</h2>
        <p>A static website is ideal for businesses seeking a cost-effective and low-maintenance online presence, as it doesn't require server-side processing, reducing hosting expenses.</p>
        <p>Static websites load quickly, providing a seamless user experience, which can help retain visitors and improve search engine rankings, ultimately driving more organic traffic to your business.</p>
        <p>Security is enhanced with static sites, as there are fewer vulnerabilities compared to dynamic sites, making it a secure choice for businesses looking to protect sensitive information.</p>
        <a href="/contact" class="button">Get in touch</a>
    </div>
    <div class="panel mb-0 text-center">
        <img src="/images/services/wordpress-logo.png" alt="11ty Websites" class="w-32 mx-auto mb-8">
        <h2>Wordpress website</h2>
        <p>WordPress is an incredibly versatile and user-friendly content management system that allows you to easily manage you websites without requiring extensive technical expertise.</p>
        <p>With a vast library of themes and plugins, WordPress offers endless customization options, enabling businesses to tailor their websites to their unique brand identity and specific needs.</p>
        <p>Its robust SEO capabilities, frequent updates, and strong community support make WordPress a reliable choice for improving online visibility and driving growth for businesses of all sizes.</p>
        <a href="/contact" class="button">Get in touch</a>
    </div>
</div>