---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Online ecommerce shop
    parent: Services
    order: 2
---

<div class="panel">
    <h1>Ecommerce</h1>
    <p>Create an online presence for your shopping experience and expand your customer base nationally and internationally by taking orders remotely.</p>
    <p>I offer online shops built in several frameworks such as Magento, Prestashop and Wordpress with Woo Commerce.</p>
</div>
