---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Static multi page site
    parent: Services
    order: 5
---

<div class="panel">
    <h1>Static multi page site</h1>
    <p>A static site is typically known as a brochure website. It is a simple website that showcases your business without much overhead.</p>
</div>
