---
layout: "base.njk"
title: "John Tilley | Portfolio"
bodyClass: home
description: John Tilley Web Development Portfolio

eleventyNavigation:
    key: Wordpress
    parent: Services
    order: 4
---

<div class="panel">
    <h1>Wordpress</h1>
    <p>Wordpress allows you to create an online presense using a more complex website that allows you to edit and publish pages as and when you need.</p>
</div>
